body{
    font-family: arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color:greenyellow

}

header{
    background-color: black;
    color: white;
    padding:1em 0;
    text-align: center;

}

nav ul{
    list-style:none;
    padding: 0%;
}

nav ul li{
    display: inline;
    margin:0 10px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
}

main{
    padding: 20px;
}

footer{
    background:orangered;
    color:white;
    text-align:center;
    padding:1em 0;
    position:fixed;
    bottom: 0%;
    width:100%;
}

form{
    display:flex;
    flex-direction: column;
}

form label{
    margin-top: 10px;
}

form imput [type="submit"]{
    background-color: black;
    color: aliceblue;
    border:none;
    cursor: pointer;
    margin-top: 10px;
}

minha foto {
    width: 150px;
    height: 200px;

}





